gxx_linux-64
cmake
python>=3.6
qt=5.9*
fftw=3.3*
jansson=2.7*
libpng=1.6*
hdf5=1.10*
pango=1.40*
lowtis=0.1.0.post69*
ninja=1.7.2*
tbb=2019.4*
tbb-devel=2019.4*
vtk=8.2.*
assimp=4.0.1*
glbinding=2.1.3*
draco=1.3.4*
libarchive=3.3.3*
libiconv=1.15*
librdkafka=1.0.1*
alsa-lib=1.1.5*
xorg-libxrandr=1.5.1*
xorg-libxcursor=1.2.0*
xorg-libxtst=1.2.3*
marktips=0.3*
